<!DOCTYPE html>
<html>
  <head>
    <title>Asoap</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Quattrocento+Sans&family=Source+Sans+Pro&display=swap" rel="stylesheet" type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag 'application', media: 'all'%>


  </head>

  <body>
    <%= yield %>

  </body>
</html>



