<!DOCTYPE html>
<html>
  <head>
    <title>Asoap</title>
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script type="text/javascript">
      window.images = {
        logo: "<%= image_url('logo.png')%>",
        splash_img: "<%= image_url('splash_img.jpg')%>",
        cleanser: "<%= image_url('cleanser.png')%>",
        moisturizer: "<%= image_url('moisturizer.png')%>",
        paste: "<%= image_url('paste.png')%>",
        powder: "<%= image_url('powder.png')%>"
      }
    </script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag 'application', media: 'all'%>

  </head>

  <body>
    <%= yield %>

  </body>
</html>



