<!DOCTYPE html>
<html>
  <head>
    <title>Asoap</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">




    <meta property="og:title" content="Asõap" />
    <meta property='og:image' content="<%= image_url('asoap-linkedin.png') %>"/>
    <meta property="og:description"
    content="This project is a clone of aesop.com, a high quality and minimalistic ecommerce website. The application is written using React/Redux in the frontend, and Ruby on Rails in the backend with PostgreSQL."
    />
    <meta property="og:url"
      content="https://asoap.herokuapp.com/#/"
    />


    <title>Asõap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('favicon.png')%>
    <script type="text/javascript">
      window.images = {
        logo: "<%= image_url('logo.png')%>",
        splash_img: "<%= image_url('splash_img.jpg')%>",
        cleanser: "<%= image_url('cleanser.png')%>",
        moisturizer: "<%= image_url('moisturizer.png')%>",
        paste: "<%= image_url('paste.png')%>",
        powder: "<%= image_url('powder.png')%>",
        hands: "<%= image_url('hands.png')%>",
        checkout: "<%= image_url('checkout.png')%>",
      }
    </script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag 'application', media: 'all'%>

  </head>

  <body>
    <%= yield %>

  </body>
</html>



