<!DOCTYPE html>
<html>
  <head>
    <title>Asoap</title>
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet" rel="stylesheet" type='text/css'>
    <%# <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet"> %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script type="text/javascript">
      window.images = {
        logo: "<%= image_url('logo.png')%>",
        splash_img: "<%= image_url('splash_img.jpg')%>"
      }
    </script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag 'application', media: 'all'%>

  </head>

  <body>
    <%= yield %>

  </body>
</html>



